<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-8'>

      <h1>Restaurants</h1>

      <ul>
        <% @restaurants.each do |restaurant| %>
          <li><h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2></li>
          <%= link_to "Delete", restaurant, method: :delete, remote: true %>
        <% end %>
      </ul>

    </div>
  </div>
</div>
